
<link href="~/Content/uploadContainer.css" rel="stylesheet" />

<div class="upload_container">



        <div class="box-upload">
            <div class="iconmelon">
                <svg viewBox="0 0 32 32">
                    <g filter="">
                        <use xlink:href="#image"></use>
                    </g>
                </svg>
            </div>
            <div class="box-upload-ing">
                <div class="iconmelon-loaded">
                    <svg viewBox="0 0 32 32">
                        <g filter="">
                            <use xlink:href="#image"></use>
                        </g>
                    </svg>
                </div>
            </div>
        </div>

        <div class="box-caption">
            <input type="text" name="caption" placeholder="Title">
        </div>
        <div class="box-tags">
            <input type="text" name="tags" placeholder="#tags">
        </div>

        <div class="set-time-limit">
            <input type="number" name="day-limit" min="1" max="14" placeholder="1">
            <h1>Day limit</h1>
        </div>

        <div class="private">
            <h1>Anonymous?</h1>
            <div class="private-overlay"></div>
            <div class="private-overlay-wave"></div>
        </div>

        <button class="button">
            POST
            <div class="button-overlay">
                <div class="check-yo">
                    <svg viewBox="0 0 32 32">
                        <g filter="">
                            <use xlink:href="#check"></use>
                        </g>
                    </svg>
                </div>
            </div>
        </button>
    </div>

