@-webkit-keyframes rotating {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}
@-moz-keyframes rotating {
  from {
    -moz-transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(360deg);
  }
}
@-o-keyframes rotating {
  from {
    -o-transform: rotate(0deg);
  }
  to {
    -o-transform: rotate(360deg);
  }
}
@keyframes rotating {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.bubble{
	background-image: -webkit-linear-gradient(top, #fdfdfd, #f3f3f4);
	border-radius: 10px;
	position: relative;
	border: 2px solid #a7a8ab;
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
    float:right;
}

.bubble p{
	font-family: helvetica, Arial, sans-serif;
	font-size: 1.15em;
	font-weight: normal;	
	color: #303334;
	padding: 0 15px;
	margin: 10px 0;
}

.bubble:after{
	content: "";
	position: absolute;
	top: 90%;
	left: 46%;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
	box-shadow: 2px 2px 2px #a7a8ab;
	border: 4px solid;
	border-color: transparent #f3f3f4 #f3f3f4 transparent;
}
.comments {
  box-shadow: 0px 9px 0px 0px rgba(255, 255, 255, 0), 0px -9px 0px 0px rgba(255, 255, 255, 0), 10px 0px 30px 0px rgba(0, 0, 0, 0.15), -10px 0px 30px 0px rgba(0, 0, 0, 0.15);
  width: 80%;
  min-height: 150px;
  position: relative;
  margin: 15px auto;
  padding: 20px;
  font-family: "Helvetica Neue",arial,sans-serif;
  font-size: 15px;
  float:left;
}
.comments .loader {
  height: 45px;
  width: 45px;
  border: 4.5px solid rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  border-left-color: #000;
  position: absolute;
  top: 70px;
  left: 245.5px;
  -webkit-animation: rotating 0.9s infinite linear;
  -moz-animation: rotating 0.9s infinite linear;
  -o-animation: rotating 0.9s infinite linear;
  animation: rotating 0.9s infinite linear;
}
.comments .inner {
  display: none;
}
.comments .inner .comment {
  border: 1px dashed #ccc;
  padding: 15px;
  min-height: 48px;
  margin-bottom: 10px;
  color: #ccc;
}
.comments .inner .comment .avatar {
  width: 48px;
  height: 48px;
  float: left;
}
.comments .inner .comment .body {
  margin-left: 55px;
}
.comments .inner .comment .body p {
  color: black;
}
.comments .inner .comment:hover {
  color: rgba(0, 39, 59, 0.35);
  background-color: rgba(200, 200, 200, 0.1);
  border-style: solid;
}

.add-new {
  margin-bottom: 55px;
}
.add-new .input {
  display: block;
  width: 475px;
  border: 3px solid #ccc;
  color: #888;
  padding: 8px 10px;
  outline: 0;
  font-family: "Helvetica Neue",arial,sans-serif;
  font-size: 15px;
}
.add-new .input.your-name {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.add-new .input.your-name.dived {
  margin-top: 2px;
  padding: 9px 10px 11px 10px;
}
.add-new .input.your-msg {
  margin-top: -5px;
  max-width: 475px;
  max-height: 150px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
/*.add-new .send-msg {
  border: 3px solid #ccc;
  color: #888;
  text-transform: uppercase;
  font-weight: bold;
  border-radius: 5px;
  padding: 8px 10px;
  background-color: transparent;
  outline: 0;
  float: right;
  margin-right: -1px;
  cursor: pointer;
}
.add-new .send-msg:hover {
  color: white;
  background-color: #ccc;
}*/

a {
  color: #66b34e;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
