@keyframes shake {
  0%, 100% {
    transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-10px);
  }
  20%,
  40%,
  60%,
  80% {
    transform: translateX(10px);
  }
}

@import url(http://fonts.googleapis.com/css?family=Jolly+Lodger);

.register_container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 800px;
  height: 400px;
}

.dolly {
  position: relative;
  width: 250px;
  height: 450px;
  float: left;
  background: url(/images/monk.png) no-repeat;
}
#monk {
    width: 37%;
    float: left;
    position: relative;
    top: 100px;
}

.error .dolly::before {
  content: '';
  display: block;
  position: absolute;
  top: 66px;
  right: -49px;
  width: 205px;
  height: 160px;
  background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/4848/dolly_bad.jpg') no-repeat;
}

.dolly::after {
  content: '';
  display: block;
  position: absolute;
  width: 170px;
  height: 74px;
  background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/4848/arm.png') no-repeat;
}

[data-position='1'] .dolly::after {
  top: 130px;
  right: -70px;
}

[data-position='2'] .dolly::after {
  top: 165px;
  right: -62px;
  transform: rotate(30deg);
}

[data-position='3'] .dolly::after {
  top: 184px;
  right: -40px;
  transform: rotate(60deg);
}

.register {
 
   box-shadow: 0px 9px 0px 0px rgba(255, 255, 255, 0), 0px -9px 0px 0px rgba(255, 255, 255, 0), 10px 0px 30px 0px rgba(0, 0, 0, 0.15), -10px 0px 30px 0px rgba(0, 0, 0, 0.15);
  width: 40%;
  min-height: 150px;
  position: relative;
  margin: 15px auto;
  padding: 20px;
  font-family: "Helvetica Neue",arial,sans-serif;
  font-size: 15px;
  float:left;
}

.dolly .credit {
  position: absolute;
  bottom: 35px;
  right: 0;
  font-size: 1em;
  text-decoration: none;
  color: #000;
}
.form_title {
    font-size: 2.0em !important;
}
#label, .form_title {
     display: block;
    margin-bottom: 5px;
    font-size: 1.4em;
    color: #7a3e1a;
    width: 100%;
    text-align: center;
    font-family: Gabriola;
}
#label_title a {
    display: block;
    margin-bottom: 5px ;
    font-size: 1.1em ;
    color: #7a3e1a ;
    width: 100% ;
    text-align: end ;
    font-family: Gabriola;
    text-decoration:none;
}

#input-txt {
  box-sizing: border-box;
  padding: .4rem .9rem;
  width: 300px;
  margin-bottom: 1rem;
  border: 1px solid #3fb0da;
  color: #444;
  border-radius: 4px;
  font-size: 1.3em;
}

.error #input-txt:focus {
  border: 1px solid red;
  animation: shake .65s;
}

.button[type=submit] {
      box-sizing: border-box;
    display: block;
    padding: 8px 30px 10px 30px;
    margin-top: 25px;
    width: 300px;
    text-shadow: 0 1px 1px #fff;
    border: 1px solid #7f3f1b;
    border-radius: 4px;
    color: #7a3e1a;
    font-size: 1.2em;
    background-image: linear-gradient(#e4d730, #998002);
    margin-bottom: 25px;
}
/*This is for p Register or....*/

p.speech
{
	position: relative;
	width: 200px;
	height: 100px;
	text-align: center;
	line-height: 100px;
	background-color: #fff;
	border: 8px solid #666;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
	-webkit-box-shadow: 2px 2px 4px #888;
	-moz-box-shadow: 2px 2px 4px #888;
	box-shadow: 2px 2px 4px #888;
}
p.speech:before
{
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
	left: 30px;
	top: 100px;
	border: 25px solid;
	border-color: #666 transparent transparent #666;
}
p.speech:after
{
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
	left: 38px;
	top: 100px;
	border: 15px solid;
	border-color: #fff transparent transparent #fff;
}
p.thought
{
	position: relative;
	width: 130px;
	height: 100px;
	text-align: center;
	line-height: 100px;
	background-color: #fff;
	border: 8px solid #666;
	-webkit-border-radius: 58px;
	-moz-border-radius: 58px;
	border-radius: 58px;
	-webkit-box-shadow: 2px 2px 4px #888;
	-moz-box-shadow: 2px 2px 4px #888;
	box-shadow: 2px 2px 4px #888;
}

p.thought:before, p.thought:after
{
	left: 10px;
	top: 70px;
	width: 40px;
	height: 40px;
	background-color: #fff;
	border: 8px solid #666;
	-webkit-border-radius: 28px;
	-moz-border-radius: 28px;
	border-radius: 28px;
}

p.thought:after
{
	width: 20px;
	height: 20px;
	left: 5px;
	top: 100px;
	-webkit-border-radius: 18px;
	-moz-border-radius: 18px;
	border-radius: 18px;
}
.animated { 
    -webkit-animation-duration: 2s; 
    animation-duration: 2s; 
    -webkit-animation-fill-mode: both; 
    animation-fill-mode: both; 
    -webkit-animation-timing-function: ease-in-out; 
    animation-timing-function: ease-in-out; 
} 

@-webkit-keyframes fadeInLeftBig { 
    0% { 
        opacity: 0; 
        -webkit-transform: translateX(-2000px); 
    } 
    100% { 
        opacity: 1; 
        -webkit-transform: translateX(0); 
    } 
} 
@keyframes fadeInLeftBig { 
    0% { 
        opacity: 0; 
        transform: translateX(-2000px); 
    } 
    100% { 
        opacity: 1; 
        transform: translateX(0); 
    } 
} 
.fadeInLeftBig { 
    -webkit-animation-name: fadeInLeftBig; 
    animation-name: fadeInLeftBig; 
}

.animated { 
    -webkit-animation-duration: 1.5s; 
    animation-duration: 1.5s; 
    -webkit-animation-fill-mode: both; 
    animation-fill-mode: both; 
    -webkit-animation-timing-function: ease-in-out; 
    animation-timing-function: ease-in-out; 
} 

@-webkit-keyframes fadeInRightBig { 
    0% { 
        opacity: 0; 
        -webkit-transform: translateX(2000px); 
    } 
    100% { 
        opacity: 1; 
        -webkit-transform: translateX(0); 
    } 
} 
@keyframes fadeInRightBig { 
    0% { 
        opacity: 0; 
        transform: translateX(2000px); 
    } 
    100% { 
        opacity: 1; 
        transform: translateX(0); 
    } 
} 
.fadeInRightBig { 
    -webkit-animation-name: fadeInRightBig; 
    animation-name: fadeInRightBig; 
}