/*CSS for watchVideo*/
.wrapper_left_video {
    width:70%;
    /*background-color: green;*/
    height: auto;
    float:left;
}


.wrapper_right_multipl {
    width:28%;
    background-color:red;
    height: auto;
}

.big-video-container {
    position: relative;
    width: 90%;
    box-shadow: 0 1px 1px 0 rgba(100, 100, 100, 0.5);
    overflow: hidden;
    float: left;
    -webkit-transform: scale(1,1);
    -webkit-transition: 0.3s ease;
    transform: scale(1,1);
    transition: 0.3s ease;
    margin-left: 3%;
    margin-top: 3%;
}
.big-flat-video {
    width: 100%;
    display: block;
    background-color: #bdc3c7;
}
.video_stuff {
    width:100%;
    height:200px;
    box-shadow: 0px 9px 0px 0px rgba(255, 255, 255, 0), 0px -9px 0px 0px rgba(255, 255, 255, 0), 10px 0px 30px 0px rgba(0, 0, 0, 0.15), -10px 0px 30px 0px rgba(0, 0, 0, 0.15);
}
.video_title {
    text-align: justify;
    width:50%;
    margin-top:5%;
    /*background-color:yellow;*/
    color:#4CA1D8;
    padding:5%;
    float:left;
}
.buttons {
    float: right;
    width:30%;
    margin-top:15%;
}
.buttons #like {
    background-image: -webkit-linear-gradient(top, #4CC7C7, #fff);
			background-image: linear-gradient(top, #f4f1ee, #fff);
			border-radius: 50%;
			box-shadow: 0px 8px 10px 0px rgba(0, 0, 0, .3), inset 0px 4px 1px 1px white, inset 0px -3px 1px 1px rgba(204,198,197,.5);
			float:left;
			height: 70px;
			margin: 0 30px 30px 0;
			position: relative;
			width: 70px;			
			-webkit-transition: all .1s linear;
			transition: all .1s linear;
}
.buttons #dislike #like:hover {
   color:#e9e6e4;
			content: "";
			display: block;
			font-size: 30px;
			height: 30px;
			text-decoration: none;
			text-shadow: 0px -1px 1px #bdb5b4, 1px 1px 1px white;
			position: absolute;
			width: 30px;
}


.buttons #dislike {
    background-image: -webkit-linear-gradient(top, #4CC7C7, #fff);
			background-image: linear-gradient(top, #f4f1ee, #fff);
			border-radius: 50%;
			box-shadow: 0px 8px 10px 0px rgba(0, 0, 0, .3), inset 0px 4px 1px 1px white, inset 0px -3px 1px 1px rgba(204,198,197,.5);
			float:left;
			height: 70px;
			margin: 0 30px 30px 0;
			position: relative;
			width: 70px;			
			-webkit-transition: all .1s linear;
			transition: all .1s linear;
}


#like {
    margin:5%;
}
#dislike{margin:15%;}




/*CSS for Index.html*/
.video_wrapper {
    width: 100%;
    margin-bottom: 5%;
    border-bottom: 1px solid #B4D34D;
    height: 280px;
}


.video-container {
    position: relative;
    width: 33%;
    margin: 50px auto;
    box-shadow: 0 1px 1px 0 rgba(100, 100, 100, 0.5);
    overflow: hidden;
    float: right;
    -webkit-transform: scale(1,1);
    -webkit-transition: 0.3s ease;
    transform: scale(1,1);
    transition: 0.3s ease;
}

    .video-container:-webkit-full-screen {
        width: 100%;
        /*height: 100%;*/
        margin: 0;
    }

    .video-container:-ms-full-screen {
        width: 100%;
        /*height: 100%;*/
        margin: 0;
    }

    .video-container:-moz-full-screen {
        width: 100%;
        /*height: 100%;*/
        margin: 0;
    }

    .video-container:fullscreen {
        width: 100%;
        /*height: 100%;*/
        margin: 0;
    }

    .video-container.loading {
        -webkit-transform: scale(0.9, 0.9);
        -webkit-transition: 0.3s ease;
        transform: scale(0.9, 0.9);
        transition: 0.3s ease;
    }

.flat-video {
    width: 100%;
    display: block;
    background-color: #bdc3c7;
}

.controls-bar {
    position: absolute;
    bottom: 0;
    left: -1px;
    right: -1px;
    height: 50px;
}


.playPause {
    position: absolute;
    top: 20px;
    left: 5px;
    /*height: 50px;
  width: 50px;*/
    color: rgba(255, 255, 255, 0.9);
    cursor: pointer;
    /*-webkit-transform: translateX(-50px);*/
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
}

    .playPause:hover, .sound:hover {
        color: #3498db;
    }

.sound {
    position: absolute;
    top: 20px;
    right: 5px;
    /*height: 50px;
  width: 50px;*/
    color: rgba(255, 255, 255, 0.9);
    cursor: pointer;
    /*-webkit-transform: translateX(-50px);*/
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
}

.duration {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.5);
    -webkit-transform: translateY(40px);
    -webkit-transition: 0.3s ease;
    transform: translateY(40px);
    transition: 0.3s ease;
}

.duration-amount {
    float: left;
    width: 0%;
    height: 50px;
    background-color: #3498db;
    opacity: 0.5;
    -webkit-transition: 0.1s;
    transition: 0.1s;
}

.controls-bar.off .duration {
    -webkit-transform: translateY(40px);
    -webkit-transition: 0.3s ease;
    transform: translateY(40px);
    transition: 0.3s ease;
}

.controls-bar.off .playPause {
    /*-webkit-transform: translateX(-50px);*/
    color: rgba(255, 255, 255, 0);
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
}

.controls-bar.off .sound {
    /*-webkit-transform: translateX(-50px);*/
    color: rgba(255, 255, 255, 0);
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
}

.top-controls-bar {
    position: absolute;
    top: 0;
    left: -1px;
    right: -1px;
    height: 50px;
}

.info {
    position: absolute;
    top: 5px;
    left: 5px;
    text-align: center;
    width: 97%;
    height: 150px;
}

.title {
    color: #4CA1D8;
    margin-left: 3%;
    margin-top: 3%;
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
    width:100%;
}
.title a {
    width:100%;
    color: #caf5fb;
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
}
.title a :hover {
    width:100%;
    color: #ffffff;
}

.author {
    color: rgba(255, 255, 255, 0.9);
    margin: 0;
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
}

.fullscreen {
    position: absolute;
    top: 5px;
    right: 5px;
    color: rgba(255, 255, 255, 0.9);
    cursor: pointer;
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
}

    .fullscreen:hover {
        color: #3498db;
    }

.top-controls-bar.off .title {
    color: rgba(255, 255, 255, 0.0);
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
}

.top-controls-bar.off .author {
    color: rgba(255, 255, 255, 0.0);
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
}

.top-controls-bar.off .fullscreen {
    color: rgba(255, 255, 255, 0.0);
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
}

[class^="icon-"]:before, [class*=" icon-"]:before {
    font-family: "video_payer";
    font-style: normal;
    font-weight: normal;
    speak: none;
    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    margin-right: .2em;
    text-align: center;
    /* opacity: .8; */
    /* For safety - reset parent styles, that can break glyph codes*/
    font-variant: normal;
    text-transform: none;
    /* fix buttons height, for twitter bootstrap */
    line-height: 1em;
    /* Animation center compensation - margins should be symmetric */
    /* remove if not needed */
    margin-left: .2em;
    /* you can be more comfortable with increased icons size */
    /* font-size: 120%; */
    /* Uncomment for 3D effect */
    /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-play:before {
    content: '\e800';
}

/* '' */
.icon-resize-full:before {
    content: '\e801';
}

/* '' */
.icon-pause:before {
    content: '\e802';
}

/* '' */
.icon-resize-small:before {
    content: '\e803';
}

/* '' */
.icon-share:before {
    content: '\e807';
}

/* '' */
.icon-sound:before {
    content: '\e808';
}

/* '' */
.icon-mute:before {
    content: '\e809';
}

/* '' */
.icon-ccw:before {
    content: '\e80a';
}

/* '' */
.icon-volume:before {
    content: '\e80c';
}

/* '' */
