<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>SB Admin 2 - Bootstrap Admin Theme</title>

    <link href="~/Content/AdminStyles/AdminCSS.css" rel="stylesheet" />

</head>



<body>






    <div id="wrapper">
        <!-- Navigation -->
        @RenderPage("~/Views/Admin/_AdminMenu.cshtml")

        <div id="page-wrapper">
            <!-- Page Content -->
            @RenderBody()
        </div>

    </div>

    <a href="~/Scripts/AdminJS.js.bundle"></a>

</body>
</html>