@{
    ViewBag.Title = "About";
}

<link href="~/Content/aboutUs.css" rel="stylesheet" />
<div class="comment">
    <div class="monkey" id="kikser">
        <img src="http://farm5.staticflickr.com/4012/5126739463_e5598d33fb.jpg">
        <div class="comment-content">
            <p class="author">
                <strong>Kikser the Pygmy Marmoset</strong>
            </p>
            <span>
                Escaped from the ZOO in search of new challenge. He joined forces with Mandril and started working on Front End.
            </span>
        </div>
    </div>
    <div class="monkey" id="nikola">
        <img src="http://farm5.staticflickr.com/4012/5126739463_e5598d33fb.jpg">
        <div class="comment-content">
            <p class="author">
                <strong>Nikola the White Headed Capuchin</strong>
            </p>
            <span>
                Lider in the jungle, he found Pygmy Marmoset and Mandril(still looking for ninja monkey) and created the Jungle Monkeys Team. Their front end work mached perfectly with White Headed Capuchin back end work.
            </span>
        </div>
    </div>
    <div class="monkey" id="ilce">
        <img src="http://farm5.staticflickr.com/4012/5126739463_e5598d33fb.jpg">
        <div class="comment-content">
            <p class="author">
                <strong>Ilce the Mandrill</strong> 
            </p>
            <span>
                He was lonely in the jungle, until he first met Pygmy Marmoset and than White Headed Capuchin. Than he was happy to be part of such a great team.
            </span>
        </div>
    </div>
    <div class="monkey" id="ninja">
        <img src="http://farm5.staticflickr.com/4012/5126739463_e5598d33fb.jpg">
        <div class="comment-content">
            <p class="author">
            <strong>Ninja Monkey</strong>
                </p>
            <span>
                Good day to you and your family good sir. Let me introduce myself. I'm Prince Pullouttamyassa from Nigeria, strangley I still have money I want to send you, but you've never mailed me back...
            </span>
        </div>
    </div>
</div>