@{
    ViewBag.Title = "Home Page";
}
<link href="~/Content/video.css" rel="stylesheet"/>
<link href="~/Content/search.css" rel="stylesheet"/>
<div class="sub_nav">
    <div class="listi">
        <ul>
            <li class="active"><a href="#modern">Popular</a></li>
            <li><a href="#oldSkool">Recommended</a></li>
            <li><a href="#oldSkool">Recently Uploaded</a></li>
     </ul>
    </div>
    <div class='search'>
        <div class='search-container'>
            <input placeholder='search' type='text'>
            <a class='button'>
                <i class='icon-search'></i>
            </a>
        </div>
    </div>
</div>
<div id="scatter">
    <figure id="desk">  
        <a href="#" id="estee">
            <video id="myVideo" controls preload="auto" poster="http://s.cdpn.io/6035/vp_poster.jpg" width="380">
                <source src="http://simplypx.com/images/Prometheus.mp4" type="video/mp4" />
                <p>Your browser does not support the video tag.</p>
            </video>
            <div class="caption">Prometheus</div>
            <div class="control">
                <div class="btmControl">
                    <div class="btnPlay btn" title="Play/Pause video"><span class="icon-play"></span></div>
                    <div class="progress-bar">
                        <div class="progress">
                            <span class="bufferBar"></span>
                            <span class="timeBar"></span>
                        </div>
                    </div>
                    <!--<div class="volume" title="Set volume">
                <span class="volumeBar"></span>
            </div>-->
                    <div class="sound sound2 btn" title="Mute/Unmute sound"><span class="icon-sound"></span></div>
                    <div class="btnFS btn" title="Switch to full screen"><span class="icon-fullscreen"></span></div>
                </div>
            </div>
        </a>
        <a href="#" id="indre">
            <video id="myVideo" controls preload="auto" poster="http://s.cdpn.io/6035/vp_poster.jpg" width="380">
                <source src="http://simplypx.com/images/Prometheus.mp4" type="video/mp4" />
                <p>Your browser does not support the video tag.</p>
            </video>
            <div class="caption">Prometheus</div>
            <div class="control">
                <div class="btmControl">
                    <div class="btnPlay btn" title="Play/Pause video"><span class="icon-play"></span></div>
                    <div class="progress-bar">
                        <div class="progress">
                            <span class="bufferBar"></span>
                            <span class="timeBar"></span>
                        </div>
                    </div>
                    <!--<div class="volume" title="Set volume">
                <span class="volumeBar"></span>
            </div>-->
                    <div class="sound sound2 btn" title="Mute/Unmute sound"><span class="icon-sound"></span></div>
                    <div class="btnFS btn" title="Switch to full screen"><span class="icon-fullscreen"></span></div>
                </div>
            </div>
        </a>
        <a href="#" id="kikser">
            <video id="myVideo" controls preload="auto" poster="http://s.cdpn.io/6035/vp_poster.jpg" width="380">
                <source src="http://simplypx.com/images/Prometheus.mp4" type="video/mp4" />
                <p>Your browser does not support the video tag.</p>
            </video>
            <div class="caption">Prometheus</div>
            <div class="control">
                <div class="btmControl">
                    <div class="btnPlay btn" title="Play/Pause video"><span class="icon-play"></span></div>
                    <div class="progress-bar">
                        <div class="progress">
                            <span class="bufferBar"></span>
                            <span class="timeBar"></span>
                        </div>
                    </div>
                    <!--<div class="volume" title="Set volume">
                <span class="volumeBar"></span>
            </div>-->
                    <div class="sound sound2 btn" title="Mute/Unmute sound"><span class="icon-sound"></span></div>
                    <div class="btnFS btn" title="Switch to full screen"><span class="icon-fullscreen"></span></div>
                </div>
            </div>
        </a>
        <a href="#" id="nikola">
            <video id="myVideo" controls preload="auto" poster="http://s.cdpn.io/6035/vp_poster.jpg" width="380">
                <source src="http://simplypx.com/images/Prometheus.mp4" type="video/mp4" />
                <p>Your browser does not support the video tag.</p>
            </video>
            <div class="caption">Prometheus</div>
            <div class="control">
                <div class="btmControl">
                    <div class="btnPlay btn" title="Play/Pause video"><span class="icon-play"></span></div>
                    <div class="progress-bar">
                        <div class="progress">
                            <span class="bufferBar"></span>
                            <span class="timeBar"></span>
                        </div>
                    </div>
                    <!--<div class="volume" title="Set volume">
                <span class="volumeBar"></span>
            </div>-->
                    <div class="sound sound2 btn" title="Mute/Unmute sound"><span class="icon-sound"></span></div>
                    <div class="btnFS btn" title="Switch to full screen"><span class="icon-fullscreen"></span></div>
                </div>
            </div>
        </a>
        <a href="#" id="stef">
            <video id="myVideo" controls preload="auto" poster="http://s.cdpn.io/6035/vp_poster.jpg" width="380">
                <source src="http://simplypx.com/images/Prometheus.mp4" type="video/mp4" />
                <p>Your browser does not support the video tag.</p>
            </video>
            <div class="caption">Prometheus</div>
            <div class="control">
                <div class="btmControl">
                    <div class="btnPlay btn" title="Play/Pause video"><span class="icon-play"></span></div>
                    <div class="progress-bar">
                        <div class="progress">
                            <span class="bufferBar"></span>
                            <span class="timeBar"></span>
                        </div>
                    </div>
                    <!--<div class="volume" title="Set volume">
                <span class="volumeBar"></span>
            </div>-->
                    <div class="sound sound2 btn" title="Mute/Unmute sound"><span class="icon-sound"></span></div>
                    <div class="btnFS btn" title="Switch to full screen"><span class="icon-fullscreen"></span></div>
                </div>
            </div>
        </a>
        <a href="#" id="miki">
            <video id="myVideo" controls preload="auto" poster="http://s.cdpn.io/6035/vp_poster.jpg" >
                <source src="http://simplypx.com/images/Prometheus.mp4" type="video/mp4" />
                <p>Your browser does not support the video tag.</p>
            </video>
            <div class="caption">Prometheus</div>
            <div class="control">
                <div class="btmControl">
                    <div class="btnPlay btn" title="Play/Pause video"><span class="icon-play"></span></div>
                    <div class="progress-bar">
                        <div class="progress">
                            <span class="bufferBar"></span>
                            <span class="timeBar"></span>
                        </div>
                    </div>
                    <!--<div class="volume" title="Set volume">
                <span class="volumeBar"></span>
            </div>-->
                    <div class="sound sound2 btn" title="Mute/Unmute sound"><span class="icon-sound"></span></div>
                    <div class="btnFS btn" title="Switch to full screen"><span class="icon-fullscreen"></span></div>
                </div>
            </div>
        </a>


        <a href="#" id="ilce">
            <video id="myVideo" controls preload="auto" poster="http://s.cdpn.io/6035/vp_poster.jpg" width="380">
                <source src="http://simplypx.com/images/Prometheus.mp4" type="video/mp4" />
                <p>Your browser does not support the video tag.</p>
            </video>
            <div class="caption">Prometheus</div>
            <div class="control">
                <div class="btmControl">
                    <div class="btnPlay btn" title="Play/Pause video"><span class="icon-play"></span></div>
                    <div class="progress-bar">
                        <div class="progress">
                            <span class="bufferBar"></span>
                            <span class="timeBar"></span>
                        </div>
                    </div>
                    <!--<div class="volume" title="Set volume">
                <span class="volumeBar"></span>
            </div>-->
                    <div class="sound sound2 btn" title="Mute/Unmute sound"><span class="icon-sound"></span></div>
                    <div class="btnFS btn" title="Switch to full screen"><span class="icon-fullscreen"></span></div>
                </div>
            </div>
        </a>
        <a href="#" id="ivo">
            <video id="myVideo" controls preload="auto" poster="http://s.cdpn.io/6035/vp_poster.jpg" class="fancybox" width="380">
                <source src="http://simplypx.com/images/Prometheus.mp4" type="video/mp4" />
                <p>Your browser does not support the video tag.</p>
            </video>
            <div class="caption">Prometheus</div>
            <div class="control">
                <div class="btmControl">
                    <div class="btnPlay btn" title="Play/Pause video"><span class="icon-play"></span></div>
                    <div class="progress-bar">
                        <div class="progress">
                            <span class="bufferBar"></span>
                            <span class="timeBar"></span>
                        </div>
                    </div>
                    <!--<div class="volume" title="Set volume">
                        <span class="volumeBar"></span>
                    </div>-->
                    <div class="sound sound2 btn" title="Mute/Unmute sound"><span class="icon-sound"></span></div>
                    <div class="btnFS btn" title="Switch to full screen"><span class="icon-fullscreen"></span></div>
                </div>
            </div>

        </a>
    </figure>
</div>
<script src="~/Scripts/video.js"></script>
@*<script>
    var tag = document.createElement('script');
    tag.src = "//www.youtube.com/iframe_api";
    var firstScriptTag = document.getElementsByTagName('script')[0];
    firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

    var youtubePlayer1;
    var youtubePlayer2;
    var youtubePlayer3;

    function onYouTubeIframeAPIReady() {
        youtubePlayer1 = new YT.Player('estee', {
            height: '240',
            width: '320',
            videoId: 'F0eR1KFkt58',
            events: {
                'onReady': onPlayerReady1
            }
        });
        youtubePlayer2 = new YT.Player('indre', {
            height: '240',
            width: '320',
            videoId: 'mPTX4guU1W8',
            events: {
                'onReady': onPlayerReady2
            }
        });
        youtubePlayer3 = new YT.Player('kikser', {
            height: '240',
            width: '320',
            videoId: 'E-_ONZOcScU',
            events: {
                'onReady': onPlayerReady3
            }
        });
    }
    function onPlayerReady1(event) {
        event.target.playVideo();
        $('a').click(function (e) {
            youtubePlayer1.stopVideo();
            e.preventDefault();
        });
    }
    function onPlayerReady2(event) {
        event.target.playVideo();
        $('a').click(function (e) {
            youtubePlayer2.stopVideo();
            e.preventDefault();
        });
    }
    function onPlayerReady3(event) {
        event.target.playVideo();
        $('a').click(function (e) {
            youtubePlayer3.stopVideo();
            e.preventDefault();
        });
    }
</script>*@